.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    max-width: 1720px;
    margin: 0 auto;
}

.input-container {
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 40px;
}

.input-container textarea{
    width: 100%;
    min-width: 840px;
    min-height: 700px;
    font-size: 16px;
    padding: 12px;
    border-radius: 4px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #314351;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.input-container textarea:focus{
    outline:none
}

.input-container button {
    margin: 16px 0  ;
    width: 300px;
    font-size: 16px;
    background-color: #ffd280;
    color: #314351;
    padding: 12px;
    border: 0px;
    font-weight: 500;
    border-radius: 4px;
}
.button-container button:first-child {
    margin-right: 4px;
}

.img-container {
    min-width: 840px;
    height: 796px;
    /* margin-top: 22px; */
    text-align: center;
    overflow-y: scroll;
    align-self: baseline;
}

.img-container img {
    max-width: 800px;
    object-fit: contain;
}


.img-link-container {
    padding-top: 18px;
}

.img-link-container div:first-child {
    margin-bottom: 4px;
}

.img-container img-link-container:first-child {
    padding-top: 0px;
}

button.disable {
    color: white;
    background-color: gray;
}

div.fetch-tip {
    width: 100%;
    text-align: right;
    margin-bottom: 4px;
}